//--- Social icons etc ---//

.social {
    $ds: 30px;
    $dl: 48px;
    text-align: center;
    position: fixed;
    right: 0;
    top: 20%;
    display: none;
    @media (min-width: $m_smallish) and (min-height: $m_smaller) {
        display: block;
    }
    @media (min-width: $m_large) and (min-height: $m_smallish) {
        top: 30%;
    }
    a {
        display: block;
        color: #fff;
        text-shadow: 0 1px 1px rgba(#000,.1);
        transition: all ease .2s;
        vertical-align: middle;
        text-decoration: none;
        @extend .fontello-icon;
        @include sansSerif;
        position: relative;
        width: $dl;
        padding: 9px 0 7px;
        line-height: $dl * 0.7;
        font-size: 26px;
        &:before {
            position: relative;
            z-index: 2;
        }
        &:hover {
            width: $dl + 15;
            margin-left: -15px;
        }
    }
    &.social-likes_visible a {
    }
    .facebook, .social-likes__widget_facebook {
        @extend .icon-facebook;
        background-color: $facebook;
    }
    .twitter, .social-likes__widget_twitter {
        @extend .icon-twitter;
        background-color: $twitter;
    }
    .plusone, .social-likes__widget_plusone {
        @extend .icon-gplus;
        background-color: $gplus;
        &:before {
            top: 0.05em;
        }
    }
    .social-likes__button {
        @include visuallyhidden;
    }
    .social-likes__counter {
        font-size: 12px;
        line-height: 1em;
        display: block;
        &.social-likes__counter_empty {
            display: none;
        }
    }
}
