//-- Main --//
// bower:scss
// endbower


@import "base", "fontface";


body {
}

#canvas {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	pointer-events: none;
}

header {
	position: relative;
	width: 100%;
	background: #222;
	border-bottom: 1px solid #111;
	box-shadow: 0 1px 3px rgba(#000,0.4);
	padding: 0.7em 2em;
	color: #fff;
	z-index: 3;
	@include clearfix;
	@media (min-height:$m_smallish) and (min-width: $m_large) {
		padding: 1em 3em;
	}
	nav {
		float: right;
	}
}
.title {
	float: left;
	h1 {
		margin: 0;
		font-size: 1em;
		display: inline-block;
		vertical-align: middle;
	}
}

.btn {
    display: inline-block;
    cursor: pointer;
	font-weight: bold;
	vertical-align: middle;
	font-size: 0.9em;
	color: #fff;
	text-decoration: none;
	padding: 0.15em 0;
	margin: 0 0.6em;
	span {
		display: none;
	}
	@media (min-width: $m_smaller) {
		margin: 0 1em;
	}
	@media (min-width: $m_small) {
		&:hover, &:focus {
			box-shadow: 0 2px 0 rgba(#fff,0.5);
		}
		span {
			display: inline;
		}
	}
	@media (min-width: $m_tablet) {
		margin: 0 2em;
	}
}

.upload {
    position: relative;
    overflow: hidden;
	input {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    padding: 0;
	    opacity: 0;
	    cursor: pointer;
	}
}
.download {
}

.values {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	background: rgba(black,0.7);
	color: white;
	padding: 0.4em 0 0.2em 1.5em;
	font-size: 0.9em;
	border-radius: 0 3px 0 0;
	transition: all ease .1s;
	text-shadow: 0 1px 2px black;
	&:hover {
		background: #111;
		font-size: 1em;
		padding: 0.6em 0 0.3em 2em;
	}
	span {
		margin-right: 1.5em;
	}
}

.cropper {
	position: relative;
	width: 300px;
	height: 300px;
	border: 6px solid #fff;
	border-width: 0 6px 6px 0;
	border-radius: 0 0 3px 0;
	box-shadow: 0 0 3px rgba(#000,0.3);
	nav {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
		width: 100%;
		button {
			border: none;
			background: $c_link;
			text-decoration: none;
			color: white;
			padding: 0.4em;
			display: block;
			float: left;
			border-left: 1px solid darken($c_link,5%);
			text-shadow: 0 1px 2px rgba(black,0.2);
			font-size: 0.8em;
			cursor: pointer;
			outline: none;
			transition: all ease .1s;
			width: (100%/5);
			&:hover, &:focus {
				border-color: darken($c_link,10%);
				background: darken($c_link,5%);
			}
			&:first-child {
				border: none;
			}
		}
	}
	@media (min-width: $m_tablet) and (min-height: $m_smallish) {
		width: 50vmin;
		height: 50vmin;
		nav {
			width: auto;
			button {
				padding: 0.4em 1em;
				width: auto;
				&:first-child {
					border-radius: 4px 0 0 0;
				}
			}
		}

	}
}
.toggle {
	position: absolute;
	width: 1.5em;
	height: 2.5em;
	right: -1.5em;
	font-size: 1em;
	top: 50%;
	margin-top: -2em;
	background: white;
	border: none;
	border-radius: 0 100% 100% 0;
	cursor: pointer;
	text-align: center;
	box-shadow: 1px 0 3px rgba(#000,0.3);
	z-index: 0;
	outline: none;
	transition: all ease .1s;
	&:hover, &:focus {
		width: 2em;
		right: -2em;
	}
	i:before {
		width: auto;
		margin: 0;
	}
}

.modal {
	position: absolute;
	left: 5%;
	top: 5vh;
	width: 90%;
	transition: all ease .4s;
	padding: 1em;
	background: #f0f0f0;
	box-shadow: 0 1px 5px rgba(#000,0.5), 0 0 0 3px rgba(white,0.5);
	pointer-events: none;
	transform: scale(0) translate3d(0,0,0);
	opacity: 0;
	z-index: 6;
	@media (min-width: $m_tablet) {
		width: 700px;
		left: 50%;
		top: 10vh;
		margin-left: -370px;
		padding: 2em;
	}
	.showModal & {
		transform: scale(1) translate3d(0,0,0);
		opacity: 1;
		pointer-events: auto;
	}
	.closeModal {
		position: absolute;
		right: -0.5em;
		top: -0.5em;
		width: 1em;
		height: 1em;
		color: #fff;
		text-decoration: none;
		text-align: center;
		line-height: 0.8em;
		border-radius: 50%;
		text-shadow: 0 1px 2px rgba(#000,0.2);
		box-shadow: 0 1px 2px rgba(#000,0.2), 0 0 0 3px rgba(white,0.5);
		font-weight: bold;
		background: #333;
		font-size: 2em;
		transition: all ease .1s;
		&:hover, &:focus {
			background: #111;
		}
	}
	*:first-child {
		margin-top: 0;
	}
}
.modalBg {
	content: '';
	pointer-events: none;
	opacity: 0;
	background: rgba(black,0.8);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	transform: translate3d(0,0,0);
	transition: all ease .4s;
	cursor: pointer;
	.showModal & {
		opacity: 1;
		pointer-events: auto;
	}
}

@import "social";
